/*Centrado*/
body {
    text-align: center;
}
/*VENTANA DE INICIO*/
/*Logo*/
#logo {
    margin-top: 40px;
    width: 25%;
    height: 25%;
}
/*Distancia botones de Acceso*/
.btnStart {
    margin-top: 20px; 
}
/*Estilo de letra*/
p, h2, h1, label, textarea, #instruction, .btn  {
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: normal;
}
/*"Tu tranquilidad nos importa*/
h2 {
    font-size: 26px;
    line-height: 29px;
    color: #A0A0A0;
}
/*Información Inicio*/
h1 {
    font-size: 42px;
    line-height: 45px;
    margin-top: 15px; 
    color: #0A5475;
}
/*Más información Inicio*/
span.more, span.info {
    font-size: 15px;
    line-height: 18px;
    color: #0A5475;
}    
span.more {
    font-weight: bold;
}
/*VENTANA DE TRABAJO*/
/*Imagen Ventana de trabajo*/
#background {
    opacity: 0.7;
    margin-top: 15px;
    width: 12%;
    height: 12%;
}
/*Tamaño ingreso de Offset*/
#offset {
    width: 7%;
}
/*Tamaño letra Instructions about RUT*/
#infoInstruction, #offsetInstruction {
    font-size: 13px;
    line-height: 16px;
    font-style: italic;
}
/*Tamaño letra info Costumers*/
label {
    font-size: 16px;
    line-height: 19px;
    color: rgb(0, 0, 0);
}
/*Color Boton Limpiar*/
#clear {
    background-color: yellow;
}
/*Color Boton Copiar*/
#copy {
    background-color: rgb(47, 228, 47);
}
#tableWork {
    display: flex;
    justify-content: space-around; 
}
#enter_text {
    margin-left: 10%;
}
#out_text {
    margin-right: 10%;
}
#code, #uncode {
    margin-top: 55px;
}
#labels {
    display: flex;
    justify-content: space-around; 
    margin-left: 3%;
    margin-right: 5%;
}